/*кнопка обратной связи*/

.insta-bt {
    background: rgb(255, 255, 255);
    border:2px solid #f048f9;
    border-radius:50%;
    box-shadow:2px 8px 20px rgba(248, 71, 249, 0.61);
    cursor:pointer;
    height:60px;
    text-align:center;
    width:60px;
    position: fixed;
    left: 0.5%;
    bottom: 11%;
    z-index:999;
    transition:.3s;
    -webkit-animation:insta-an linear 1s infinite;
    animation:insta-an linear 1s infinite;
}

.insta-bt .text-call{
    height:68px;
    width:68px;
    border-radius:50%;
    position:relative;
    overflow:hidden;
}

.insta-bt .text-call span {
    text-align: center;
    color:#ffffff;
    opacity: 0;
    font-size: 20px;
    position:absolute;
    right: 14px;
    top: 22px;
    line-height: 14px;
    font-weight: 200;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.insta-bt .text-call:hover span {
    opacity: 1;
    font-size: 11px;
    z-index:999;

}
.insta-bt:hover img {
    display:none;
    z-index:999;

}

.insta-bt:hover {
    z-index:999;
    background: #ff97fa;
    transition:.3s;
}
.insta-bt:hover img {
    color: #cb9865;
    z-index:999;
    font-size:40px;
    transition:.3s;
}
.insta-bt img {
    color: #f9f392;
    font-size:22px;
    margin-right: 10px;
    transition:.3s;
    line-height: 55px;
}

.insta-bt img  {
    -webkit-animation: opsimple 3s infinite;
    animation: opsimple 3s infinite;
}

/*@-webkit-keyframes email-an {*/
    /*0% {*/
        /*box-shadow:0 8px 10px rgba(240, 72, 249, 0.69), 0 0 0 0 rgba(249,92,24,0.2), 0 0 0 0 rgba(249,92,24,0.2)*/
    /*}*/
    /*40% {*/
        /*box-shadow:0 8px 10px #cb9865, 0 0 0 15px rgba(240, 72, 249, 0.69), 0 0 0 0 rgba(135, 33, 166, 0.7)*/

    /*}*/
    /*80% {*/
        /*box-shadow:0 8px 10px rgba(42, 165, 16, 0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 26.7px rgba(249,92,24,0.067)*/
    /*}*/
    /*100% {*/
        /*box-shadow:0 8px 10px rgba(203, 152, 101, 0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(249,92,24,0.0)*/
    /*}*/
/*}@keyframes email-an {*/
     /*0% {*/
         /*box-shadow:0 8px 10px rgba(99, 44, 255, 0.3),0 0 0 0 rgba(249,92,24,0.2),0 0 0 0 rgba(240, 72, 249, 0.2)*/
     /*}*/
     /*40% {*/
         /*box-shadow:0 8px 10px rgba(240, 72, 249, 0.78),0 0 0 15px rgba(240, 72, 249, 0.3),0 0 0 0 rgba(240, 72, 249, 0.71)*/
     /*}*/
     /*80% {*/
         /*box-shadow:0 8px 10px rgba(240, 72, 249, 0.88),0 0 0 30px rgba(255, 221, 0, 0.62),0 0 0 26.7px rgba(255, 40, 44, 0.71)*/
     /*}*/
     /*100% {*/
         /*box-shadow:0 8px 10px rgba(248, 71, 249, 0.3),0 0 0 30px rgba(249,92,24,0),0 0 0 40px rgba(249, 92, 24, 0)*/
     /*}*/
 /*}*/

@keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes opsimple {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* конец кнопки звязи */
